@use "../../grid-mixins";

@import "../../theme";

$border-style: outset;

.game-field {
  @include grid-mixins.board-tile-grid;
  @include grid-mixins.board-tile-grid-variables;

  position: relative;
  margin: 0 auto;
  justify-content: center;
  height: fit-content;
  --t: #{$tile-color-1};

  .row {
    display: contents;

    &:nth-child(even) {
      .cell {
        &:nth-child(odd) {
          --t: #{$tile-color-2};
        }
      }
    }

    &:nth-child(odd) {
      .cell:not(:nth-child(odd)) {
        --t: #{$tile-color-2};
      }
    }
  }

  .start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
  }
}

.cell {
  background-color: var(--t);
  border: 2px dotted transparent;
  display: grid;
  place-items: center;
  position: relative;
  // width: 100%;
  // height: 100%;

  > span {
    grid-area: 1 / 1;
  }

  .chair-inner {
    height: 85%;
    width: 85%;
    border-radius: 50% 15% 15% 50%;
    background: $table-bg;
    border: 0.125rem $border-style $table-border;
    border-left-width: 0.35rem;

    &.right {
      transform: rotate(180deg);
    }
  }

  &.has-person {
    .chair-inner {
      opacity: 0.3;
    }
  }

  &.table {
    border: none;
    $tableHeight: var(--table-height, 8);

    &.middle {
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: var(--table-top, auto);
        width: 100%;
        height: calc(#{$tableHeight} * 100%);
        background: $table-bg;
        border: 0.125rem $border-style $table-border;
        border-radius: 0.33rem;
      }
    }

    .plate {
      display: none;
      position: absolute;
      z-index: 4;
      font-size: 0.6em;
      transform: rotate(90deg);
      left: 1px;

      + .plate {
        transform: rotate(-90deg);
        right: 1px;
        left: auto;
      }
    }

    &.has-left {
      .plate:first-of-type {
        display: block;
      }
    }

    &.has-right {
      .plate + .plate {
        display: block;
      }
    }
  }

  &.selected {
    z-index: 4;

    &:after {
      content: "";
      position: absolute;
      $x: -0.375rem;
      top: $x;
      left: $x;
      right: $x;
      bottom: $x;
      border: 0.125rem dashed $main-color;
      animation: scale-pulse 1.5s infinite;
      pointer-events: none;
    }
  }

  &.has-person {
    cursor: pointer;

    .emoji {
      z-index: 1;
    }
  }

  &.panic {
    border-color: $danger-color;

    &:not(.chair) {
      border-color: $warning-color;
    }

    .emoji {
      animation: tremble 0.2s 5;
    }
  }

  $scary-scale-props: 3s infinite step-end;

  &.scary {
    .emoji {
      z-index: 3;
      animation: scary-pulse $scary-scale-props;
    }
  }

  &.scared:not(.scary) {
    .emoji {
      animation: scared-pulse $scary-scale-props;
    }
  }

  &.t13a {
    z-index: 2;

    &.table {
      &.middle {
        z-index: 5;
        animation: scary-pulse-table $scary-scale-props;

        &::after {
          content: "13";
          display: grid;
          place-items: center;
          font-family: $font-family-special;
          color: $danger-color-contrast;
        }

        .plate {
          display: none;
        }
      }
    }
  }

  span {
    pointer-events: none;
  }
}

.fear {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  font-size: 0.5em;
  line-height: 1;
  background: $overlay-bg;
  width: 45%;
  height: 45%;
  z-index: 2;

  &.hidden {
    display: none;
  }

  &.small {
    width: 35%;
    height: 35%;
    font-size: 0.4em;
    right: 0;
    left: auto;
  }

  // overlay a cross over the fear icon
  &::before {
    content: "";
    position: absolute;
    width: 0.0625rem;
    height: 100%;
    background: $danger-color;
  }

  &::before {
    transform: rotate(45deg);
  }
}

body {
  &.selecting {
    .cell {
      &.chair:not(.has-person) {
        cursor: pointer;

        @include selectable($success-color-light);
      }
    }
  }
}

@keyframes scary-pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scary-pulse-table {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.05, 1.015);
  }
  50% {
    transform: scale(1.15, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes scared-pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tremble {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  20% {
    transform: translate(-0.5px, 1px) rotate(-0.5deg);
  }
  40% {
    transform: translate(1px, -0.5px) rotate(0.5deg);
  }
  60% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  80% {
    transform: translate(0.5px, -1px) rotate(-0.5deg);
  }
  100% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
}

@keyframes scale-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
