@use "../../grid-mixins";

@import "../../theme";

$tile-color-1: #152134;
$tile-color-2: #162235;

.game-field {
  @include grid-mixins.board-tile-grid;
  margin: 1rem auto;
  justify-content: center;

  .row {
    display: contents;

    &:nth-child(odd) {
      .cell {
        background-color: $tile-color-2;

        &:nth-child(odd) {
          background-color: $tile-color-1;
        }
      }
    }
  }

  .cell {
    background-color: $tile-color-1;
    display: grid;
    place-items: center;
    color: $main-color;
    position: relative;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: $tile-color-2;
    }

    &.table {
      color: transparent;
      background: #563232 !important;
      margin: -1px;
      pointer-events: none;
      z-index: 1;
    }

    &.door {
      background: #333741;
      pointer-events: none;
    }

    &.selected {
      @include selectable($secondary-color, 0.3, 0.5);
    }

    &.panic {
      border: 0.25rem solid $danger-color-light;

      span {
        animation: tremble 0.5s infinite;
        transform-origin: 50% 50%;
      }
    }

    &.scary {
      z-index: 2;

      &.table {
        z-index: 3;
        animation: scale-pulse-small 2s infinite;

        &.middle {
          color: $danger-color-light;
        }
      }

      &:not(.table) {
        outline: 0.25rem dashed $danger-color;
      }

      span {
        z-index: 1;
        animation: scary-pulse 2s infinite;
        animation-timing-function: step-end;
      }
    }

    span {
      pointer-events: none;
    }

    .fear {
      position: absolute;
      left: 0;
      bottom: 0;
      display: grid;
      place-items: center;
      font-size: 0.5em;
      line-height: 1;
      background: rgba($danger-color, 0.6);
      width: 45%;
      height: 45%;

      &.hidden {
        display: none;
      }

      &.small {
        width: 35%;
        height: 35%;
        font-size: 0.4em;
        right: 0;
        left: auto;
      }
    }
  }
}

body {
  &:not(.selecting) {
    .cell {
      &.has-person {
        @include selectable;

        &:not(.chair) {
          border: 0.125rem dashed rgba(white, 0.4);

          &.panic {
            border-color: $danger-color-light;
          }
        }
      }

      &:not(.has-person) {
        pointer-events: none;
      }
    }
  }

  &.selecting {
    .cell {
      &.chair:not(.has-person) {
        @include selectable($success-color-light);
      }

      &.panic:not(.selected):not(.scary) {
        span {
          animation: none;
        }
      }
    }
  }
}

@keyframes scale-pulse-small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-pulse-big {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scary-pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1.25);
  }
  60% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes tremble {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
