.menu {
  display: grid;
  place-items: center;
  padding: 1rem;
  font-size: 2rem;
  gap: 1.5rem;
  grid-template-rows: auto 1fr;
}

.d8y {
  display: grid;
  gap: 0.5rem;
  font-size: 0.75em;
  white-space: nowrap;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(2, min-content);

  @media (orientation: portrait) {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(1, min-content);
  }

  > div {
    display: grid;
    gap: 0.25rem;
  }

  .high {
    font-size: 0.66em;
    opacity: 0.7;
    font-style: italic;
  }
}
