@use "../../grid-mixins";

@use "../../theme";

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: theme.$bg-alpha-05;
  border-radius: theme.$border-radius;
  padding: 1rem;
  gap: 1rem;
  font-size: 0.9rem;
  text-align: left;
  color: theme.$text-tertiary;

  h3 {
    &.hi {
      font-family: theme.$font-family-special;
      font-size: 1.6em;
      color: theme.$text-primary;
    }
  }

  .cell {
    background: theme.$bg-alpha-05;
    $example-size: var(--c-size, 7rem);
    width: $example-size;
    height: $example-size;
    font-size: calc(0.6 * #{$example-size});
    pointer-events: none;
    border-radius: theme.$border-radius;

    &.has-person {
      border: 0.125rem solid theme.$bg-alpha-10;

      &::before {
        display: none;
      }

      .fear {
        &::after {
          content: "A ―";
          position: absolute;
          left: 0.25rem;
          font-size: 1.2rem;
          bottom: 0;
          white-space: nowrap;
          transform: translateX(-100%);
          padding: 0.5rem 0;
        }

        &.small:after {
          content: "― B";
          right: 0.25rem;
          transform: translateX(100%);
        }
      }
    }

    &.table {
      --table-height: 1;
      --table-top: auto;

      animation: none !important;

      span {
        animation: none !important;
      }
    }

    .chair::before {
      transform: rotate(90deg);
    }

    &:after {
      content: none;
    }
  }

  @media (max-height: 800px) {
    font-size: 0.8rem;
    padding: 0.75rem;
    gap: 0.75rem;

    .cell {
      --c-size: 5.5rem;
    }
  }

  li {
    font-style: italic;
    font-size: 0.9em;
  }

  @media (max-height: 600px) {
    font-size: 0.7rem;

    .cell {
      --c-size: 4.5rem;
    }
  }
}

.stats {
  background: theme.$bg-alpha-05;
  padding: 0.5rem 0.75rem;
  border-radius: theme.$border-radius;
  width: fit-content;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
  align-items: center;
  line-height: 1;
}

.stat {
  display: contents;

  > :first-child {
    font-size: 1.4em;
    font-family: monospace;
    font-weight: bold;
  }

  &.good {
    color: theme.$success-color;
  }

  &.bad {
    color: theme.$danger-color-contrast;
  }
}
