@import "../../theme";

.rules {
  margin: 1rem auto;
  white-space: pre-line;
  text-align: left;
  max-width: 800px;
  padding: 0 1rem;

  em {
    font-style: normal;
    font-weight: bold;
    font-family: cursive;
    color: $danger-color-light;
  }

  .visualization {
    display: grid;
    gap: 1rem;
    justify-items: center;
    margin: 1rem auto;
    max-width: 600px;
    text-align: center;

    .cell {
      background-color: #1b273a;
      $example-size: 8rem;
      width: $example-size;
      height: $example-size;
      font-size: 0.6 * $example-size;
      pointer-events: none;
    }
  }
}

.mini-help {
  font-size: 0.75em;
  margin: 0;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;
  text-align: left;
  color: $secondary-text;

  .cell {
    background: rgba(255, 255, 255, 0.1);
    $example-size: 6rem;
    width: $example-size;
    height: $example-size;
    font-size: 0.6 * $example-size;
    pointer-events: none;
    margin: 1rem auto;

    :after {
      content: none;
    }

    @media (max-height: 600px) {
      $example-size: 4rem;
      width: $example-size;
      height: $example-size;
      font-size: 0.6 * $example-size;
    }
  }
}
