@use "../../grid-mixins";

@use "../../theme";

.rules {
  margin: 1rem auto;
  white-space: pre-line;
  text-align: left;
  max-width: 800px;
  padding: 0 1rem;
}

.rules,
.mini-help {
  em {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    font-family: theme.$font-family-special;
    color: theme.$danger-color-contrast;
  }
}

.mini-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: theme.$bg-alpha-05;
  border-radius: theme.$border-radius;
  padding: 1.5rem;
  gap: 1.5rem;
  text-align: left;
  color: theme.$text-tertiary;

  h3 {
    &.welcome {
      font-family: theme.$font-family-special;
      font-size: 1.6em;
      color: theme.$text-primary;
    }
  }

  .cell {
    background: theme.$bg-alpha-10;
    $example-size: 7rem;
    width: $example-size;
    height: $example-size;
    font-size: 0.6 * $example-size;
    pointer-events: none;
    border-radius: theme.$border-radius;

    &.has-person {
      border: 0.125rem solid rgba(theme.$main-color, 0.5);
    }

    &.table {
      --table-height: 1;

      animation: none !important;

      span {
        animation: none !important;
      }
    }

    &:after {
      content: none;
    }
  }

  @media (max-height: 600px) {
    .cell {
      $example-size: 4.5rem;
      width: $example-size;
      height: $example-size;
      font-size: 0.6 * $example-size;
    }
  }
}

.satisfaction-stats {
  background: theme.$bg-alpha-05;
  padding: 0.5rem 0.75rem;
  border-radius: theme.$border-radius;
  width: fit-content;
  font-size: 0.9rem;

  .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.5rem;
    align-items: center;
    line-height: 1;
  }

  .stat {
    display: contents;

    :first-child {
      font-size: 1.4rem;
      font-family: monospace;
      font-weight: bold;
    }

    :nth-child(2) {
      font-size: 1.2rem;
    }

    &.satisfied {
      color: theme.$success-color;
    }

    &.unsatisfied {
      color: theme.$danger-color-contrast;
    }
  }

  .fear {
    position: relative;
    display: inline-grid;
    width: 1.5em;
    height: 1.5em;
    font-size: 0.9rem;

    &::before,
    &::after {
      width: 0.125rem;
    }
  }
}
