@use "../../theme";
@import "../../names";

.#{$ARROW} {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  &.#{$LEFT} {
    transform: translate(100%, 0) rotate(180deg);
  }

  //&.#{$RIGHT} {
  //  transform: translate(-100%, 0);
  //}

  &.#{$UP} {
    transform: translate(0, 100%) rotate(270deg);
  }

  //&.#{$DOWN} {
  //  transform: translate(0, -100%) rotate(90deg);
  //}
}

svg {
  color: theme.$main-color;
  width: 75%;
  height: 75%;
  animation: point 1.2s infinite;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
