$squareCount: var(--square-count, 11);
$gap: 1px;
$totalGap: calc(calc($squareCount - 1) * $gap);
$buffer: 2rem; // = 2 * margin
$bufferLandscape: 3rem; // = 2 * margin
$headerHeight: var(--header-height, 3rem);
$mini-help-width: min(20rem, 33vw);
// $maxWidth: 40rem + $buffer + $totalGap;
$totalSizeLandscape: calc(min(calc(100vw - $mini-help-width - $bufferLandscape), calc(100vh - $headerHeight)) - $buffer - $totalGap);
$totalSizePortrait: calc(min(100vw, calc(100vh - $headerHeight)) - $buffer - $totalGap);
$squareSizeLandscape: calc(#{$totalSizeLandscape} / $squareCount);
$squareSizePortrait: calc(#{$totalSizePortrait} / $squareCount);
$font-size: calc(0.6 * var(--square-size));

@mixin board-tile-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, $squareCount), var(--square-size));
  grid-template-rows: repeat(var(--rows, $squareCount), var(--square-size));
  gap: $gap;
  font-size: $font-size;
  line-height: 1;
}

@mixin board-tile-grid-variables {
  --square-size: #{$squareSizeLandscape};
  --gap: #{$gap};

  @media (orientation: portrait) {
    --square-size: #{$squareSizePortrait};
  }

  @media (max-width: 860px) {
    --header-height: 5rem;
  }
}
