@use "grid-mixins";

@import "theme";

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 12px;

  @media (min-width: 375px) {
    font-size: 16px;
  }

  @media (min-width: 480px) {
    font-size: 20px;
  }

  @media (min-width: 600px) {
    font-size: 24px;
  }
}

body {
  background: #09162a;
  color: white;
  font-family: $font-family;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  hyphens: auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.main-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr grid-mixins.$mini-help-width;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content auto auto;
  }
}

header {
  display: grid;
  box-sizing: border-box;
  padding: max(0.5rem, var(--sat)) 1rem 0.5rem;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.1rem 1rem;
  width: 100%;
  font-family: cursive;

  .btn-container {
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
  }

  @media (max-width: 800px) {
    h1 {
      grid-row: 1;
      grid-column: 1 / 3;
    }

    .btn-container {
      grid-row: 1;
      grid-column: 3;
    }

    .score {
      grid-row: 2;
      grid-column: 1 / 4;
      justify-self: center;
    }
  }

  h1 {
    font-size: 1.2rem;
    margin: 0;
  }

  .score {
    white-space: nowrap;
  }
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  font-size: 2rem;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  width: 100%;
  background: #152134;
  border: 1px solid #213345;
  color: white;
  text-align: center;
  border-radius: 4px;

  &::placeholder {
    font-size: 0.7em;
    color: #96a6b6;
    font-style: italic;
  }

  &:focus-within {
    outline: none;
    border-color: cyan;
  }
}

button,
label {
  font-family: $font-family;
  cursor: pointer;
  color: white;
  border: 1px solid rgba(white, 0.1);
  background-color: rgba(white, 0.06);
  padding: 1rem 2rem;
  border-radius: $border-radius;

  @include hover {
    background-color: rgba(white, 0.1);
  }

  &.primary-btn {
    border: 1px solid $main-color;
    background-color: rgba($main-color, 0.3);

    @include hover {
      background-color: rgba($main-color, 0.4);
    }
  }

  &[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
}

button.icon-btn {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.9em;
  line-height: 1;
  color: #ccc;
  transform: scale(1);
  transition: transform 0.3s;

  @include hover {
    transform: scale(1.2);
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
