$SELECTING: "a";
$SELECTED: "b";
$PANIC: "c";
$SCARED: "d";
$SCARY: "e";
$T13A: "f";
$P_T13A: "g";
$HAS_PERSON: "h";
$HAS_LEFT: "i";
$HAS_RIGHT: "j";
$CELL: "k";
$IS_DRAGGING: "l";
$IS_DRAGGED: "m";

$UP: "n";
$DOWN: "o";
$LEFT: "p";
$RIGHT: "q";

$ARROW: "r";

$HELP: "s";
$HI: "t";
$STATS: "u";
$STATS_GRID: "v";
$STAT: "w";
$GOOD: "x";
$BAD: "y";

$TABLE: "z";
$MIDDLE: "A";
$PLATE: "B";
$CHAIR: "C";
$PERSON: "D";
$EMOJI: "E";
$FIELD: "F";
$WON: "G";
$START_BUTTON: "H";
