$main-color: #5599ff;
$secondary-color: cyan;
$danger-color: #992244;
$danger-color-light: #cc6677;
$success-color: #227744;
$success-color-light: #44aa77;
$warning-color: #ffaa00;
$font-family: sans-serif;
$font-family-special: cursive;
$border-radius: 0.4rem;
$text-primary: #f0f0f0;
$text-secondary: #ccc;
$text-tertiary: #96a6b6;
$dialog-bg: rgba(0, 0, 0, 0.9);
$dialog-bg-shine-through: rgba(0, 0, 0, 0.5);
$overlay-bg: rgba(0, 0, 0, 0.3);
$bg-primary: #09162a;
$alpha-base: white;
$bg-alpha-05: rgba(255, 255, 255, 0.05);
$bg-alpha-10: rgba(255, 255, 255, 0.1);

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  &.touching {
    @content;
  }
}

@mixin selectable($bg-base: $alpha-base, $alpha1: 0.2, $alpha2: 0.4) {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom right, rgba($bg-base, $alpha1), rgba($bg-base, $alpha2));
    pointer-events: none;
    animation: opacityBlink 3s infinite linear;
  }

  &:hover:after {
    animation: none;
    background: rgba($bg-base, 0.3);
  }
}

@keyframes opacityBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
