$main-color: #3399ff;
$danger-color: #dd3666;
$danger-color-contrast: var(--d-clr, #cc6677);
$success-color: #227744;
$success-color-light: #44aa77;
$warning-color: #ffaa00;
$font-family: sans-serif;
$font-family-special: "Brush Script MT", cursive;
$border-radius: 0.4rem;

// dark theme colors
$text-primary-dark: #f0f0f0;
$text-secondary-dark: #ccc;
$text-tertiary-dark: #9ab;
$dialog-bg-dark: rgba(0, 0, 0, 0.9);
$dialog-bg-shine-through-dark: rgba(0, 0, 0, 0.5);
$overlay-bg-dark: rgba(0, 0, 0, 0.3);
$alpha-base-dark: white;
$bg-alpha-05-dark: rgba($alpha-base-dark, 0.05);
$bg-alpha-10-dark: rgba($alpha-base-dark, 0.1);
$bg-primary-dark: #09162a;
$bg-secondary-dark: #234;
$tile-color-1-dark: #152134;
$tile-color-2-dark: #1b273a;
$table-bg-dark: #563232;
$table-border-dark: #905d5d;

// light theme colors
$text-primary-light: #1a1a1a;
$text-secondary-light: #555;
$text-tertiary-light: #888;
$dialog-bg-light: rgba(255, 255, 255, 0.95);
$dialog-bg-shine-through-light: rgba(255, 255, 255, 0.5);
$overlay-bg-light: rgba(255, 255, 255, 0.3);
$alpha-base-light: #09162a;
$bg-alpha-05-light: rgba($alpha-base-light, 0.05);
$bg-alpha-10-light: rgba($alpha-base-light, 0.1);
$bg-primary-light: #f0f4f8;
$bg-secondary-light: #e9f2fb;
$tile-color-1-light: #e2e8f0;
$tile-color-2-light: #ccd6e5;
$table-bg-light: #a5644c;
$table-border-light: #d8a28a;

// theme css properties
$text-primary: var(--txt-prim, $text-primary-dark);
$text-secondary: var(--txt-sec, $text-secondary-dark);
$text-tertiary: var(--txt-ter, $text-tertiary-dark);
$dialog-bg: var(--dialog-bg, $dialog-bg-dark);
$dialog-bg-shine-through: var(--dialog-bg-st, $dialog-bg-shine-through-dark);
$overlay-bg: var(--overlay-bg, $overlay-bg-dark);
$bg-alpha-05: var(--bg-alpha-05, $bg-alpha-05-dark);
$bg-alpha-10: var(--bg-alpha-10, $bg-alpha-10-dark);
$bg-primary: var(--bg-prim, $bg-primary-dark);
$bg-secondary: var(--bg-sec, $bg-secondary-dark);
$tile-color-1: var(--tile-1, $tile-color-1-dark);
$tile-color-2: var(--tile-2, $tile-color-2-dark);
$table-bg: var(--table-bg, $table-bg-dark);
$table-border: var(--table-border, $table-border-dark);

@mixin light-theme {
  --txt-prim: #{$text-primary-light};
  --txt-sec: #{$text-secondary-light};
  --txt-ter: #{$text-tertiary-light};
  --dialog-bg: #{$dialog-bg-light};
  --dialog-bg-st: #{$dialog-bg-shine-through-light};
  --overlay-bg: #{$overlay-bg-light};
  --alpha-base: #{$alpha-base-light};
  --bg-alpha-05: #{$bg-alpha-05-light};
  --bg-alpha-10: #{$bg-alpha-10-light};
  --bg-prim: #{$bg-primary-light};
  --bg-sec: #{$bg-secondary-light};
  --tile-1: #{$tile-color-1-light};
  --tile-2: #{$tile-color-2-light};
  --table-bg: #{$table-bg-light};
  --table-border: #{$table-border-light};
  --d-clr: #97012c;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  &.touching {
    @content;
  }
}

@mixin selectable($bg-base: $alpha-base-dark, $alpha: 0.3) {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($bg-base, $alpha);
    pointer-events: none;
    animation: opacityBlink 1s infinite;
  }
}

@keyframes opacityBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
