$main-color: #5599ff;
$secondary-color: cyan;
$danger-color: #992244;
$danger-color-light: #cc6677;
$success-color: #227744;
$success-color-light: #44aa77;
$rainbow: linear-gradient(
  to bottom right,
  red 15%,
  orange 30%,
  yellow 50%,
  cyan 70%,
  blue 85%
);
$font-family: sans-serif;
$border-radius: 0.4rem;

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  &.touching {
    @content;
  }
}

%rainbow-text {
  background: $rainbow;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin selectable($bg-base: white, $alpha1: 0.2, $alpha2: 0.4) {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to bottom right,
      rgba($bg-base, $alpha1),
      rgba($bg-base, $alpha2)
    );
    pointer-events: none;
    animation: opacityBlink 3s infinite linear;
  }

  &:hover:after {
    animation: none;
    background: rgba($bg-base, 0.3);
  }
}

@keyframes opacityBlink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
